
<div class="center jumbotron">
	<h1> Welcome to the Sample App</h1>
	<h2>
	This is the home page for the
	<a href = "http://rubyonrails.org"> Ruby On Rails Tutorial</a>
	sample application </h2>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
# <% provide(:title, "Home") %>

<img src="https://cdn11.bigcommerce.com/s-pkla4xn3/images/stencil/1280x1280/products/19715/173848/SGDOLL-KPOP-EXO-Animal-Plush-Toy-Soft-Stuffed-Doll-Handmade-KAI-SEHUN-CHEN-BAEKHYUN-DO-LAY__26310.1545371403.jpg?c=2?imbypass=on"/>


